[Unit]
Description=ANALYSIS service
Requires=docker.service
After=docker.service
#OnFailure=terminate.service

[Service]
Restart=always
RestartSec=5
StartLimitBurst=3
# SLI >= (RestartSec + JVM init (20s)) * SLBurst, else indefinite.
StartLimitInterval=240
# alternative to 'OnFailure' above
# values: none, reboot, reboot-force, or reboot-immediate
StartLimitAction=reboot

SyslogIdentifier=analysis
WorkingDirectory=/home/XXX/docker
User=XXX
Environment=COMPOSE_FILE=analysis.yaml
EnvironmentFile=/home/XXX/docker/.env
EnvironmentFile=/home/XXX/docker/cloud.env
EnvironmentFile=-/home/XXX/docker/analysis.docker-env

ExecStartPre=-/bin/docker-compose kill
ExecStartPre=/home/XXX/tools/ecr-login.sh
ExecStartPre=/bin/docker-compose pull
# launch delay to smooth scale-out
ExecStartPre=/bin/bash -c 'sleep $((RANDOM % 20))'
ExecStart=/bin/docker-compose up

ExecStop=/bin/docker-compose down

[Install]
WantedBy=multi-user.target
